<div class="container">
  <div class="row">
    <h2>商品編集</h2>
    <div class="col">
      <%= form_with model: @item, url: admin_item_path, local:true do |f| %>
        <div class="field">
          <%= f.label :"商品画像" %>
          <%= f.attachment_field :image %>
        </div>
        <div class="field">
          <%= f.label :"商品名" %>
          <%= f.text_field :name %>
        </div>
        <div class="field">
          <%= f.label :"商品説明" %>
          <%= f.text_area :introduction %>
        </div>
        <div class="field">
          <%= f.label :"ジャンル" %>
          <%= f.collection_select(:genre_id, @genres, :id, :name, {prompt: "--選択してください--"}) %>
        </div>
        <div class="field">
          <%= f.label :"税抜価格" %>
          <%= f.text_field :price %>
        </div>
        <%= f.submit "変更を保存" ,class: "btn btn-primary"%>
      <% end %>
    </div>
  </div>
</div>