<div class="container">
  <h2>注文履歴詳細</h2>
  <div class="row">
    <div class="col">
      <table>
        <tr>
          <th>購入者</th>
          <td>
            <%= link_to admins_customer_path(@order) do %>
              <%= @order.customer.last_name %><%= @order.customer.first_name %>
            <% end %>
          </td>
        </tr>

        <tr>
          <th>配送先</th>
          <td><%= @order.address %></td>
        </tr>
        <tr>
          <th>支払い方法</th>
          <td><%= @order.payment_method %></td>
        </tr>
        <!--<tr>
          <th>注文ステータス</th>
          <td></td>
        </tr>-->
      </table>
      <table>
        <thaed>
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <!--<th>製作ステータス</th>-->
          </tr>
        </thaed>
        <tbody>
          <% @order_details.each do |order_detail| %>
          <tr>
            <td><%= order_detail.item.name %></td>
            <td><%= (order_detail.price).floor.to_s(:delimited, delimiter: ',') %></td>
            <td><%= order_detail.quantity %></td>
            <td><%= (order_detail.price * order_detail.quantity).floor.to_s(:delimited, delimiter: ',') %></td>
            <td>
              <%= form_with model: order_detail, url:admin_order_detail_path(order_detail) do |f|  %>
                <%#= f.select :making_status, OrderDetail.making_statuses.keys.to_a %>
                <%= f.submit '更新',class:"btn btn-success" %>
              <% end %>
            </td>
          </tr>

          <% end %>
        </tbody>
      </table>
    </div>
    <div class="total">
     <h4>商品合計     <%= (@order.total_payment - @order.shipping_cost).to_s(:delimited, delimiter: ',') %>円</h4>
     <h4>送料　　　    <%= @order.shipping_cost.to_s(:delimited, delimiter: ',') %>円</h4>
     <h4>請求金額合計　<%= @order.total_payment.to_s(:delimited, delimiter: ',') %>円</h4>
    </div>
  </div>
</div>